---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";

---

<header class="container mx-auto py-8">
  <nav>
    <a href="/">
      <Image
        src="/images/hb-logo-black.svg"
        alt="Homebase Logo"
        width="150"
        height="100"
      />
    </a>
  </nav>
</header>
